<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonLib.Data.SqlClient" version="1.0.0.0" targetFramework="net45" />
  <package id="FactSet.Parsing.Translation.Patterns" version="1.0.0" targetFramework="net45" />
  <package id="FFDotNetHelpers" version="1.0.9.22" targetFramework="net45" />
  <package id="FundamentalsLib.Data" version="1.0.0.0" targetFramework="net45" />
  <package id="FundamentalsLib.Sourcelinks" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.8.1" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.8.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Spatial" version="5.8.1" targetFramework="net45" />
</packages>