<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" href="./bower_components/angular-ui-grid/ui-grid.css"/>    
<script src="bower_components/angular/angular.js"></script>
<script src="csv.js"></script>
<script src="vfs_fonts.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/jszip/dist/jszip.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="./bower_components/angular-ui-grid/ui-grid.js"></script>
<link rel="stylesheet" type="text/css" href="app.css">    
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
  var app = angular.module('SCARApp',['ngMaterial','ngMessages','ui.router','ui.grid','ui.grid.treeView','ui.grid.pinning','ui.grid.selection','ui.grid.exporter','ui.grid.autoResize']);
  app.controller('SCARController', function($scope, $http,uiGridConstants) {	  
	  $scope.selectedRows = [];
	  $scope.selectedCells = [];
      $scope.columnDefs = [];
      $scope.data = [];
      $scope.currCompanyName = "";
      $scope.Priority = null;
      $scope.Industry = null;
      $scope.FYEMonth = null;
      $scope.userName = null;
      $scope.userID = null;      
	  $scope.currIconum = 28029;
	  $scope.currTemplate = 'NG-IS';
	  $scope.reverseRepresentation = "false";
	  $scope.filterPeriod = "ALL";
	  $scope.filterRecap = "ALL";
	  $scope.selectedYear = "YEARS";
      $scope.yearlist = [ "YEARS", "2017", "2016"];
	  $scope.serverPath = "http://dataroost-ffvwebstga01.prod.factset.com:9990/api/v1/companies/";
      $scope.getUserDataServicePath = "http://dredgewebservice-winwebstga02.prod.factset.com:9987/";

      queryString();
	  updateYearList();
      refresh();
      

	  $scope.getNumber = function(num) {
          return new Array(num);
      };
	  $scope.submit = function () {
		var currIconum = $( "#searchIconum" ).val().trim();
	    $scope.currIconum = currIconum;
		var currTemplate = $( "#searchTemplate" ).val().trim();
		if (currTemplate.length > 0)
		{
			$scope.currTemplate = currTemplate;
		}
		$http.get($scope.serverPath + $scope.currIconum + "/efforts/asreported/productview/" + $scope.currTemplate, 
		{params: {"reverseRepresentation": $scope.reverseRepresentation, "filterPeriod":$scope.filterPeriod , "filterRecap":$scope.filterRecap, "filterYear" :$scope.selectedYear}})
            .then(function (response) {$scope.staticHierarchies = response.data.staticHierarchies;
            $scope.timeSlices = response.data.TimeSlices;
            refresh();});
        };
                    
      $scope.updateYear = function () {
		var currYear = $scope.selectedYear;
		refresh();
      };
	  
    $scope.gridOptions={
        columnDefs:$scope.columnDefs,
        data: $scope.data,
        enablePinning: true,
        showTreeExpandNoChildren: false,
        enableGridMenu: true,
        gridMenuShowHideColumns: false,
        enableSelectAll: true,
        exporterMenuExcel: false,
        exporterMenuPdf: false,
        exporterMenuAllData: false,
        exportCsvFilename: 'ThisOne.csv',
        exporterCsvLinkElement: angular.element(document.querySelectorAll(".custom-csv-link-location")),
        enableHorizontalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
        enableVerticalScrollbar: uiGridConstants.scrollbars.WHEN_NEEDED,
        onRegisterApi: function(gridApi) 
        { $scope.gridApi = gridApi;}
      };  
	  $scope.showAnnual = function () {
		$scope.filterPeriod = "ANNUAL";
		$scope.filterRecap = "ALL";
		$scope.selectedYear = "YEARS";
		refresh();
      };
	  $scope.showQtr = function () {
		$scope.filterPeriod = "QTR";
		$scope.filterRecap = "ALL";
		$scope.selectedYear = "YEARS";
		refresh();
      };
	  $scope.showAll = function () {
		$scope.filterPeriod = "ALL";
		$scope.filterRecap = "ALL";
		$scope.selectedYear = "YEARS";
		refresh();
      };
	  $scope.showOrg = function () {
		$scope.filterRecap = "ORG";
		$scope.selectedYear = "YEARS";
		refresh();
      };
	  $scope.showRecap = function () {
		$scope.filterRecap = "RECAP";
		$scope.selectedYear = "YEARS";
		refresh();
      };
	  $scope.updateReverseRepresentation = function () {
		refresh();
      };
      function urlParam(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
       return null;
    }
    else{
       return decodeURI(results[1]) || 0;
    }
}
	  function updateYearList()
	  {
	  	  	$http.get($scope.serverPath + $scope.currIconum) // get company name
            .then(function (response) {      $scope.currCompanyName = response.data[0].name;
                                             $scope.Priority = response.data[0].companyPriority;
                                             $scope.Industry = response.data[0].industry;
                                             $scope.FYEMonth = response.data[0].fisicalYearEndMonth;
                                             });
            
            $http.get($scope.getUserDataServicePath +"user")
            .then(function (response){      $scope.userName = response.data[0].Username;
                                            $scope.userID = response.data[0].Id;
                                     }
                 );

	  		$http.get($scope.serverPath + $scope.currIconum + "/efforts/asreported/productview/" + $scope.currTemplate + "/years")
            .then(function (response) {      $scope.yearlist = response.data.split(",");});
	  }
	  function queryString()
	  {
		//var urlParams = new URLSearchParams(window.location.search);
		var iconum =  urlParam('iconum');
		if (iconum)
		{
			$scope.currIconum  = iconum;
			var templateName =  urlParam('templateName');
			if (templateName)
			{
				$scope.currTemplate = templateName;
			}
		}
	  };

      $scope.viewRefresh = function () {
          if($scope.filterPeriod == 'ALL')
                $scope.filterRecap = 'ALL'
          refresh();
      };
      $scope.callRefresh = function () {
          refresh();
      };

	  function refresh() {	  		
        $scope.data.length = 0;            //clearing out the array
        $scope.columnDefs.length = 0;      //clearing out the array      
        $http.get($scope.serverPath + $scope.currIconum + "/efforts/asreported/productview/" + $scope.currTemplate, 
		{params: {"reverseRepresentation": $scope.reverseRepresentation, "filterPeriod":$scope.filterPeriod , "filterRecap":$scope.filterRecap, "filterYear" :$scope.selectedYear}})
            .then(function (response) {$scope.staticHierarchies = response.data.staticHierarchies;
            $scope.timeSlices = response.data.TimeSlices;
            $scope.columnDefs.push(
                
                {
                    name: "staticHierarchyMetaType",
                    width:100,
                    pinnedLeft: true,
                    displayName: "",
                    headerCellTemplate:"<div></div>",
                    cellClass : 'metaType'
                },
                {
                    name: "Description",
                    width: 600,
                    pinnedLeft: true,
                    cellClass: function(grid,row) {
                            if (row.entity.id == -1000)
                                return 'virtualParent startline';
                            if (row.entity.level > 1)
                                return 'child';
							else if (row.entity.level == 1)
                                return 'startline';
                            else if (row.entity.level == 0)
                                return 'parent'
                        },
                    headerCellTemplate:    '<div class="columnHeader">Period End Date</div>' + 
                                           '<div class="columnHeader">Time Series</div>' +
                                           '<div class="columnHeader">Publication Date</div>' +
                                           '<div class="columnHeader">Account Type</div>' +
                                           '<div class="columnHeader">Form Type</div>' +
                                           '<div class="columnHeader">Period Length</div>' +
                                           '<div class="columnHeader">Currency Type<br/></div>'
                });
                for(var ts in $scope.timeSlices){
                    $scope.columnDefs.push({
                        name: $scope.timeSlices[ts].Id,
                        width: 125,
                        displayName: $scope.formatHeader(ts),
                        cellFilter: 'hyphenOrNumber',                        
                        cellClass: function(grid,row,col,rowRendererIndex,colRenderedIndex) {
                                        if (grid.getCellValue(row,col) >= 0)
                                            return 'positive'
                                        else if (grid.getCellValue(row,col) <= 0)
                                            return 'negative'
                                        else
                                            return 'blank'
                                    },
                        headerCellTemplate : '<div class="columnItems">{{"' + $scope.timeSlices[ts].TimeSlicePeriodEndDate  + '"| date:"dd-MMM-yyyy"}}</div> ' +
                                             '<div class="columnItems">{{"' + $scope.timeSlices[ts].PeriodType +'" == "XX" ? "AR" : "'+ $scope.timeSlices[ts].PeriodType +'"}}</div> ' +
                                             '<div class="columnItems">{{"' + $scope.timeSlices[ts].PublicationDate + '"| date:"MMM-yyyy"}}</div> ' +
                                             '<div class="columnItems">{{' + $scope.timeSlices[ts].IsRecap + ' ? "RECAP" : "ORIGINAL"}}</div> ' +
                                             '<div class="columnItems">'+ $scope.timeSlices[ts].ReportType +'</div> ' +
                                             '<div class="columnItems">'+ $scope.timeSlices[ts].ConsolidatedFlag +'</div> ' +
                                             '<div class="columnItems">'+ $scope.timeSlices[ts].AccountingStandard +'</div>',
                                            }); 
                }

                for(var sh in $scope.staticHierarchies){
                    var row = [];
                    row["id"] = $scope.staticHierarchies[sh].id;
                    row["Description"] = $scope.staticHierarchies[sh].normalizedDescription;
                    row["staticHierarchyMetaType"] = $scope.staticHierarchies[sh].staticHierarchyMetaType;
                    row["parentId"] = $scope.staticHierarchies[sh].parentId;
                    if(!$scope.staticHierarchies[sh].staticHierarchyMetaType == "")
                        row["$$treeLevel"] = 0;
                    else
                        row["$$treeLevel"] = 1;
					row["level"] = $scope.staticHierarchies[sh].level;
                    for(var ts in $scope.timeSlices){
                        if($scope.staticHierarchies[sh].id == -1000){
                            if($scope.staticHierarchies[sh].cells[ts].virtualValueNumeric != null)
                                row[$scope.timeSlices[ts].Id] = $scope.staticHierarchies[sh].cells[ts].virtualValueNumeric/1000000;
                        }
                        else{
                            if($scope.staticHierarchies[sh].cells[ts].displayValue != null)
                                row[$scope.timeSlices[ts].Id] = $scope.staticHierarchies[sh].cells[ts].displayValue/1000000;
                        }
                    }
                    $scope.data.push(row);
                }
                $scope.gridApi.core.refresh();
            });
            
    
      };              
      $scope.formatHeader = function(ts){
            var header = $scope.timeSlices[ts].TimeSlicePeriodEndDate + ' | ';
            if($scope.timeSlices[ts].PeriodType == 'XX')
                header += 'AR | ';
            else
                header += $scope.timeSlices[ts].PeriodType+' | ';
            header += $scope.timeSlices[ts].PublicationDate+' | ';
            if($scope.timeSlices[ts].IsRecap)
                header += 'RECAP | '
            else
                header += 'ORIGINAL | '
            header +=  $scope.timeSlices[ts].ReportType +' | '+$scope.timeSlices[ts].Duration+ ' | '+ $scope.timeSlices[ts].AccountingStandard;
            return header;
      };

	  $scope.formatNumber = function(num){
		  if (typeof num != 'number') return num;
          var numOut = num/1000000;
          return numOut;
    };
	
      $scope.rowClick = function(staticHierarchy) {
          if($scope.selectedRows.indexOf(staticHierarchy.id) > -1)
              $scope.selectedRows.splice( $scope.selectedRows.indexOf(staticHierarchy.id), 1 );
          else
              $scope.selectedRows.push(staticHierarchy.id);

          if(staticHierarchy.clicked == null || !staticHierarchy.clicked)
              staticHierarchy.clicked = true;
          else
              staticHierarchy.clicked = false;

          $scope.$digest();
      }
	  
	  $scope.cellClick = function(cell) {
	      if($scope.selectedCells.indexOf(cell._id) > -1)
              $scope.selectedCells.splice( $scope.selectedCells.indexOf(cell._id), 1 );
          else
		  {
			$scope.selectedCells.push(cell._id);
		  }
              
			  
          if(cell.clicked == null || !cell.clicked)
              cell.clicked = true;
          else
              cell.clicked = false;

          $scope.$digest();
      }
  });

  app.filter('hyphenOrNumber',function($filter){
      return function (value){
          var numberFilter = $filter('number');
          if (angular.isUndefined(value))
            return '-';
          else
           return numberFilter(value,2);
      }
  })

  function insertUnStitchData(staticHierarchies, timeSlices, unstitchRow, update, $scope) {
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if(staticHierarchies[shix].id == unstitchRow){
                  staticHierarchies.splice(shix, 1);

                  for(var j = update.staticHierarchies.length-1; j >= 0; j--) {
                      //$scope.$apply(function() {
                                  staticHierarchies.splice(shix, 0, update.staticHierarchies[j]);
                              //});
                  }
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }
      $scope.$digest();
  }
  
  function insertStitchData(staticHierarchies, timeSlices, update, deleteRows, $scope) {
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              while (deleteRows.indexOf(staticHierarchies[shix].id) > -1) {
                  staticHierarchies.splice(shix, 1);
              }

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if (staticHierarchies[shix].id == update.staticHierarchy.id) {
                  staticHierarchies[shix] = update.staticHierarchy;
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }

      for (var s = 0; s < staticHierarchies.length; s++) {
          var mtmw = update.parentMTMWChanges[staticHierarchies[s].id];
          if (typeof mtmw != 'undefined') {
              for(var t = 0; t < timeSlices.length; t++){
                  var ts = mtmw[timeSlices[t].Id];
                  if(typeof ts != 'undefined'){
                      staticHierarchies[s].cells[t].MTMWValidationFlag = ts
                  }
              }
          }
      }      
  }
 </script>

<body>

<div ng-app="SCARApp" ng-controller="SCARController">
    <ul class = 'header'>
        <li> <a>NonGAAP SCREEN II</a></li>
        <li> <a>Company Name</a> : {{currCompanyName}}</li>
        <li> <a>Priority</a> : {{Priority}}</li>
        <li> <a>Industry</a> : {{Industry}}</li>
        <li> <a>FYE Month</a> : {{FYEMonth}}</li>   
    </ul>   
    <div class = "gridFull">
        <div class="Buttons"> 
            <fieldset class="productview">
                <legend>
                    Product View
                </legend>
                <div class = "product">
                    <div class = "productElement">        
                        <md-radio-group ng-model="filterPeriod" ng-change="viewRefresh()" layout="row">
                            <md-radio-button value="ANNUAL">ANNUAL</md-radio-button>
                            <md-radio-button value="QTR">QTR</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class = "productElement">    
                        <md-button ng-class="filterPeriod == 'ALL' ? 'allSelected' : 'allButton'" ng-click='showAll()'>ALL</md-button>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="fieldset-auto-width">
            <legend>
            Filter
            </legend>
            <div class = "filter">
                <div class = "filterElement">
                    <md-radio-group ng-model="filterRecap" ng-change="callRefresh()" layout="row">
                            <md-radio-button value="ORG">ORG</md-radio-button>
                            <md-radio-button value="RECAP">RECAP</md-radio-button>
                            <md-radio-button value="ALL">DEFAULT</md-radio-button>
                    </md-radio-group>
                </div>
                <div class = "filterElement">
                    <md-select class="select" ng-model='selectedYear' ng-change="updateYear()">
                        <md-option ng-repeat = "c in yearlist" ng-value = "c">{{c}}</md-option>
                    </md-select>
                </div>
            </div>
            </fieldset>
            <md-switch class = "reverseRepresentation" ng-model="reverseRepresentation" ng-true-vaule='true' ng-false-value='false' ng-change='callRefresh()'>Reverse Data Representation</md-switch>
        </div>
        <div id="grid1" ui-grid="gridOptions" ui-grid-tree-view ui-grid-pinning ui-grid-exporter ui-grid-auto-resize class ="grid"></div>
        <div class="note">*All figures in millions except per share items</div>
    </div>
<!--  
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  
  <table>
      <tr>
		<td colspan="2">
		  <fieldset>
		  <legend>
		  Product View
		  </legend>
            <label>
                <input type="radio" ng-model="filterPeriod" value="ANNUAL" ng-change='showAnnual()'>
                ANNUAL
            </label>
            <label>
                <input type="radio" ng-model="filterPeriod" value="QTR" ng-change='showQtr()'>
                QTR
            </label>
            <label>
                <input type="radio" ng-model="filterPeriod" value="ALL" ng-change='showAll()'>
                ALL
            </label>
		  </fieldset>
		  <fieldset>
		  <legend>
		  Filter
		  </legend>
			<button ng-click="showOrg()">ORG</button>
			<button ng-click="showRecap()">RECAP</button>
			
			<select id="cmbFYE" ng-model='selectedYear' ng-options="c for c in yearlist" ng-change="updateYear()"> 
			</select>
		  </fieldset>
		</td>
		
		  <td align="right">
		  Period End Date:<br>Time Series:<br>Publication Date:<br>Account Type:<br>Form Type:<br>Report Status:<br>Period Length<br>Currency Type:<br>Period Note:<br>Account Calc Status:
		  </td>
          <td ng-repeat="z in timeSlices" class="headerCell">{{ z.TimeSlicePeriodEndDate | date: 'dd-MMM-yyyy' }}<br>{{ z.PeriodType == "XX" ? "AR" : z.PeriodType }}<br>
			{{ z.PublicationDate | date: 'MMM-yyyy' }}<br>{{ z.IsRecap ? "RECAP" : "ORG" }}<br>{{ z.ReportType }}<br>Prelim<br>{{ z.Duration }}<br>{{ z.AccountingStandard }}
			<br>&nbsp;<br>{{$index + 1}}<br>
		  </td>
      </tr>
	      <tr>
    <td colspan="3"><input type="checkbox" name="chkReverseDataRepresentation" ng-model="reverseRepresentation" ng-change="updateReverseRepresentation()">Reverse Data Representation</td>
    <td colspan="999">All figures in millions except per share items. </td>
    </tr>
    <tr ng-repeat="x in staticHierarchies">
		<td>{{ x.staticHierarchyMetaType }}</td>
		<td ng-click="rowClick(x)" ng-class="{'clicked' : x.clicked}"><span ng-repeat="i in getNumber(x.level) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ x.normalizedDescription }}
		</td>
	 <td></td>
		<td ng-click="cellClick(y)" ng-repeat="y in x.cells" class="valueCell" ng-class="{ 'lpvfail' : y.likePeriodValidationFlag, 'virtualCell' : y.virtualValueNumeric != null, 'clicked' : y.clicked }">
			{{ formatNumber(y.displayValue) | number }}
		</td>
    </tr>
  </table>

	
  <br/>
  



     <button ng-click="stitchItem()">Stitch</button>
    <button ng-click="unstitchItem()">UnStitch</button>
	<button ng-click="flipsign()">Flip Sign</button> -->
	
</div>



</body>
</html>