<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" type="text/css" href="app.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<body>

<div ng-app="SCARApp" ng-controller="SCARController">
<fieldset>
  <legend>
  Input Form
  </legend>
  <input id="searchIconum" placeholder="Search Iconum">
  <input id ="searchTemplate" placeholder="NG-IS"><button ng-click="submit()">Submit</button>
  <br/>
    Current Iconum: 
    <span>{{currIconum}}</span> <br/>
	Current Template:
	<span>{{currTemplate}}</span> <br/> <br/>
  </fieldset>
  <br><br>
  

  <br><br>
  
  <table>
      <tr>
		<td colspan="2">
		  <fieldset>
		  <legend>
		  Product View
		  </legend>
			<button ng-click="showAnnual()">ANNUAL</button>
			<button ng-click="showAnnual()">QTR</button>
			<button ng-click="showAnnual()">ALL</button>
		  </fieldset>
		  <fieldset>
		  <legend>
		  Filter
		  </legend>
			<button ng-click="showAnnual()">ORG</button>
			<button ng-click="showAnnual()">RECAP</button>
			
			<select id="cmbFYE" ng-model='selectedYear' ng-options="c for c in yearlist" ng-change="updateYear()"> 
			</select>
		  </fieldset>
		</td>
		
		  <td align="right">
		  Period End Date:<br>Time Series:<br>Publication Date:<br>Account Type:<br>Form Type:<br>Report Status:<br>Period Length<br>Currency Type:<br>Period Note:<br>Account Calc Status:
		  </td>
          <td ng-repeat="z in timeSlices" class="headerCell">{{ z.TimeSlicePeriodEndDate | date: 'shortDate' }}<br>{{ z.PeriodType }}<br>
			{{ z.PublicationDate | date: 'shortDate' }}<br>{{ z.IsRecap }}<br>{{ z.ReportType }}<br>Prelim<br>{{ z.Duration }}<br>{{ z.AccountingStandard }}
			<br>&nbsp;<br>{{$index + 1}}<br>
		  </td>
      </tr>
	      <tr>
    <td colspan="3"><input type="checkbox" name="chkReverseDataRepresentation" value="false">Reverse Data Representation</td>
    <td colspan="999">All figures in millions except per share items. </td>
    </tr>
    <tr ng-repeat="x in staticHierarchies">
		<td colspan="3" ng-click="rowClick(x)" ng-class="{'clicked' : x.clicked}"><span ng-repeat="i in getNumber(x.level) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ x.normalizedDescription }}
		</td>
	 
		<td ng-click="cellClick(y)" ng-repeat="y in x.cells" class="valueCell" ng-class="{ 'lpvfail' : y.likePeriodValidationFlag, 'virtualCell' : y.virtualValueNumeric != null, 'clicked' : y.clicked }">
			<div ng-if="y.ARDErrorTypeId != null" id="rectangle"></div>
			{{ y.displayValue | number }}
			<div ng-if="y.MTMWErrorTypeId != null" class="mtmwPass"><strong>&#8800;</strong></div>
			<div ng-if="y.MTMWValidationFlag == true" class="mtmwFail"><strong>&#8800;</strong></div>
		</td>
    </tr>
  </table>

	
  <br/>
  


  	<!--  
     <button ng-click="stitchItem()">Stitch</button>
    <button ng-click="unstitchItem()">UnStitch</button>
	<button ng-click="flipsign()">Flip Sign</button> -->
	
</div>


<script>
  var app = angular.module('SCARApp', []);
  app.controller('SCARController', function($scope, $http) {
    $http.get("http://localhost:61581/api/v1/companies/28029/efforts/asreported/productview/NG-IS", 
		{params: {"reverseRepresentation": "T", "filterPeriod":"QTR", "filterRecap":"RECAP", "filterYear" :"2017"}})
            .then(function (response) {$scope.staticHierarchies = response.data.staticHierarchies;
            $scope.timeSlices = response.data.TimeSlices;});

      $scope.getNumber = function(num) {
          return new Array(num);
      };
	  $scope.selectedRows = [];
	  $scope.selectedCells = [];
	  $scope.selectedYear = "YEARS";
	  $scope.yearlist = [ "YEARS", "2017", "2016"];
	  $scope.currIconum = 28029;
	  $scope.currTemplate = 'NG-IS';
	  $scope.submit = function () {
		var currIconum = $( "#searchIconum" ).val();
	    $scope.currIconum = currIconum;
		var currTemplate = $( "#searchTemplate" ).val();
		if (currTemplate.length > 0)
		{
			$scope.currTemplate = currTemplate;
		}
		$http.get("http://localhost:61581/api/v1/companies/" + $scope.currIconum + "/efforts/asreported/productview/" + $scope.currTemplate, 
		{"StringData": {"reverseRepresentation": "T", "filterPeriod":"QTR", "filterRecap":"RECAP", "filterYear" :"2017"}})
            .then(function (response) {$scope.staticHierarchies = response.data.staticHierarchies;
            $scope.timeSlices = response.data.TimeSlices;});
      };
	  
	  $scope.updateYear = function () {
		var currYear = $scope.selectedYear;
		alert(currYear);
		$http.get("http://localhost:61581/api/v1/companies/" + $scope.currIconum + "/efforts/asreported/productview/" + $scope.currTemplate)
            .then(function (response) {$scope.staticHierarchies = response.data.staticHierarchies;
            $scope.timeSlices = response.data.TimeSlices;});
      };
	  
      $scope.stitchItem = function () {
          if ($scope.selectedRows.length > 1) {
              var targetRow = $scope.selectedRows[0];
              $scope.selectedRows.splice(0, 1);

              var tempArray = $scope.selectedRows.slice();
              //252876
              $http.post("http://localhost:61581/api/v1/companies/36468/efforts/asreported/templates/IS/stitch/E6059509-1F34-DE11-9566-0019BB2A8F9C/",
                      {"TargetStaticHierarchyID": targetRow, "StitchingStaticHierarchyIDs": $scope.selectedRows})
                      .then(function (response) {
                          insertStitchData($scope.staticHierarchies, $scope.timeSlices, response.data, tempArray, $scope);
                      });

              $scope.selectedRows = [];
			  $scope.selectedCells = [];
          }
      };
      $scope.unstitchItem = function () {
          if($scope.selectedRows.length == 1) {
              var targetRow = $scope.selectedRows[0];
              $http.post("http://localhost:61581/api/v1/companies/36468/efforts/asreported/templates/IS/unstitch/E6059509-1F34-DE11-9566-0019BB2A8F9C/",
                      {"TargetStaticHierarchyID": targetRow})
                      .then(function (response) {
                          insertUnStitchData($scope.staticHierarchies, $scope.timeSlices, targetRow, response.data, $scope);
                      });

              $scope.selectedRows = [];
			  $scope.selectedCells = [];
          }
      };
      $scope.flipsign = function () {
          if($scope.selectedCells.length >= 1) {
              var targetCell = $scope.selectedCells[0];
				for (var i = 0; i < $scope.selectedCells.length; i++) {
					$scope.selectedCells[i].clicked = false;
				}
			  var oldurl = "http://localhost:61581/api/v1/companies/36468/efforts/asreported/cells/229550945/flipsign/E6059509-1F34-DE11-9566-0019BB2A8F9C/"
			  var url = "http://localhost:61581/api/v1/companies/36468/efforts/asreported/cells/" + targetCell + "/flipsign/E6059509-1F34-DE11-9566-0019BB2A8F9C/"
              $http.post(url,
                      {"TargetStaticHierarchyID": targetCell})
                      .then(function (response) {
                          insertScarData($scope.staticHierarchies, $scope.timeSlices, 0, targetCell, response.data, $scope);
                      });

              $scope.selectedRows = [];
			  $scope.selectedCells = [];
          }
      };

      $scope.rowClick = function(staticHierarchy) {



          if($scope.selectedRows.indexOf(staticHierarchy.id) > -1)
              $scope.selectedRows.splice( $scope.selectedRows.indexOf(staticHierarchy.id), 1 );
          else
              $scope.selectedRows.push(staticHierarchy.id);

          if(staticHierarchy.clicked == null || !staticHierarchy.clicked)
              staticHierarchy.clicked = true;
          else
              staticHierarchy.clicked = false;

          $scope.$digest();
      }
	  
	  $scope.cellClick = function(cell) {
	      if($scope.selectedCells.indexOf(cell._id) > -1)
              $scope.selectedCells.splice( $scope.selectedCells.indexOf(cell._id), 1 );
          else
		  {
			$scope.selectedCells.push(cell._id);
		  }
              
			  
          if(cell.clicked == null || !cell.clicked)
              cell.clicked = true;
          else
              cell.clicked = false;

          $scope.$digest();
      }
  });

    function insertScarData(staticHierarchies, timeSlices, rowId, cellId, update, $scope) {
      <!-- if (rowId > 0) {    -->
		  <!-- for (var s = 0; s < staticHierarchies.length; s++) { -->
			  <!-- var mtmw = update.parentMTMWChanges[staticHierarchies[s].id]; -->
			  <!-- if (typeof mtmw != 'undefined') { -->
				  <!-- for(var t = 0; t < timeSlices.length; t++){ -->
					  <!-- var ts = mtmw[timeSlices[t].Id]; -->
					  <!-- if(typeof ts != 'undefined'){ -->
						  <!-- staticHierarchies[s].cells[t].MTMWValidationFlag = ts; -->
					  <!-- } -->
				  <!-- } -->
			  <!-- } -->
		  <!-- } -->
	  <!-- } -->
	  <!-- if (cellId > 0) -->
	  <!-- { -->
		  <!-- for (var s = 0; s < staticHierarchies.length; s++) { -->
				  <!-- for(var t = 0; t < timeSlices.length; t++){ -->
					 <!-- if (staticHierarchies[s].cells[t]._id == cellId) -->
					 <!-- { -->
						<!-- staticHierarchies[s].cells[t].displayValue *= -1; -->
					 <!-- } -->
				<!-- } -->
			<!-- } -->
	  <!-- } -->
	  for (var i = 0; i < update.changedCells.length; i++) {
		  for (var s = 0; s < staticHierarchies.length; s++) {
				  for(var t = 0; t < timeSlices.length; t++){
					 if (staticHierarchies[s].cells[t]._id == update.changedCells[i]._id)
					 {
						staticHierarchies[s].cells[t] = update.changedCells[i];
					 }
				}
			}
	  }
	  $scope.$digest();
  }
  
  function insertUnStitchData(staticHierarchies, timeSlices, unstitchRow, update, $scope) {
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if(staticHierarchies[shix].id == unstitchRow){
                  staticHierarchies.splice(shix, 1);

                  for(var j = update.staticHierarchies.length-1; j >= 0; j--) {
                      //$scope.$apply(function() {
                                  staticHierarchies.splice(shix, 0, update.staticHierarchies[j]);
                              //});
                  }
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }
      $scope.$digest();
  }

  function insertStitchData(staticHierarchies, timeSlices, update, deleteRows, $scope) {
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              while (deleteRows.indexOf(staticHierarchies[shix].id) > -1) {
                  staticHierarchies.splice(shix, 1);
              }

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if (staticHierarchies[shix].id == update.staticHierarchy.id) {
                  staticHierarchies[shix] = update.staticHierarchy;
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }

      for (var s = 0; s < staticHierarchies.length; s++) {
          var mtmw = update.parentMTMWChanges[staticHierarchies[s].id];
          if (typeof mtmw != 'undefined') {
              for(var t = 0; t < timeSlices.length; t++){
                  var ts = mtmw[timeSlices[t].Id];
                  if(typeof ts != 'undefined'){
                      staticHierarchies[s].cells[t].MTMWValidationFlag = ts
                  }
              }
          }
      }
  }
</script>

</body>
</html>