<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" type="text/css" href="app.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="SCARApp" ng-controller="SCARController">
    <button ng-click="stitchItem()">Stitch</button>
    <button ng-click="unstitchItem()">UnStitch</button>
	<button ng-click="flipsign()">Flip Sign</button>

  <table>
      <tr>
          <td></td>
          <td ng-repeat="z in timeSlices" class="headerCell">{{ z.TimeSlicePeriodEndDate | date: 'shortDate' }}<br>{{ z.PeriodType }}</td>
      </tr>
    <tr ng-repeat="x in staticHierarchies">
      <td ng-click="rowClick(x)" ng-class="{'clicked' : x.clicked}"><span ng-repeat="i in getNumber(x.level) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ x.normalizedDescription }}</td>
        <td ng-repeat="y in x.cells" class="valueCell" ng-class="{ 'lpvfail' : y.likePeriodValidationFlag, 'virtualCell' : y.virtualValueNumeric != null }">
            <div ng-if="y.ARDErrorTypeId != null" id="rectangle"></div>
            {{ y.displayValue | number }}
            <div ng-if="y.MTMWErrorTypeId != null" class="mtmwPass"><strong>&#8800;</strong></div>
            <div ng-if="y.MTMWValidationFlag == true" class="mtmwFail"><strong>&#8800;</strong></div>
        </td>
    </tr>
  </table>
    <span>{{selectedRows}}</span>
</div>


<script>
  var app = angular.module('SCARApp', []);
  app.controller('SCARController', function($scope, $http) {
    $http.get("http://localhost:61581/api/v1/companies/36468/efforts/asreported/templates/IS/E6059509-1F34-DE11-9566-0019BB2A8F9C")
            .then(function (response) {$scope.staticHierarchies = response.data.StaticHierarchies;
            $scope.timeSlices = response.data.TimeSlices;});

      $scope.getNumber = function(num) {
          return new Array(num);
      };
      $scope.stitchItem = function () {
          if ($scope.selectedRows.length > 1) {
              var targetRow = $scope.selectedRows[0];
              $scope.selectedRows.splice(0, 1);

              var tempArray = $scope.selectedRows.slice();
              //252876
              $http.post("http://localhost:61581/api/v1/companies/36468/efforts/asreported/templates/IS/stitch/E6059509-1F34-DE11-9566-0019BB2A8F9C/",
                      {"TargetStaticHierarchyID": targetRow, "StitchingStaticHierarchyIDs": $scope.selectedRows})
                      .then(function (response) {
                          insertStitchData($scope.staticHierarchies, $scope.timeSlices, response.data, tempArray, $scope);
                      });

              $scope.selectedRows = [];
          }
      };
      $scope.unstitchItem = function () {
          if($scope.selectedRows.length == 1) {
              var targetRow = $scope.selectedRows[0];
              $http.post("http://localhost:61581/api/v1/companies/36468/efforts/asreported/templates/IS/unstitch/E6059509-1F34-DE11-9566-0019BB2A8F9C/",
                      {"TargetStaticHierarchyID": targetRow})
                      .then(function (response) {
                          insertUnStitchData($scope.staticHierarchies, $scope.timeSlices, targetRow, response.data, $scope);
                      });

              $scope.selectedRows = [];
          }
      };
      $scope.flipsign = function () {
          if($scope.selectedRows.length == 1) {
              var targetRow = $scope.selectedRows[0];
              $http.post("http://localhost:61581/api/v1/companies/36468/efforts/asreported/cells/229550945/flipsign/E6059509-1F34-DE11-9566-0019BB2A8F9C/",
                      {"TargetStaticHierarchyID": targetRow})
                      .then(function (response) {
                          insertScarData($scope.staticHierarchies, $scope.timeSlices, targetRow, response.data, $scope);
                      });

              $scope.selectedRows = [];
          }
      };
      $scope.selectedRows = [];

      $scope.rowClick = function(staticHierarchy) {



          if($scope.selectedRows.indexOf(staticHierarchy.id) > -1)
              $scope.selectedRows.splice( $scope.selectedRows.indexOf(staticHierarchy.id), 1 );
          else
              $scope.selectedRows.push(staticHierarchy.id);

          if(staticHierarchy.clicked == null || !staticHierarchy.clicked)
              staticHierarchy.clicked = true;
          else
              staticHierarchy.clicked = false;

          $scope.$digest();
      }
  });

    function insertScarData(staticHierarchies, timeSlices, unstitchRow, update, $scope) {
      //Assume both ordered by AdjustedOrder
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if(staticHierarchies[shix].id == unstitchRow){
                  staticHierarchies.splice(shix, 1);

                  for(var j = update.staticHierarchies.length-1; j >= 0; j--) {
                      //$scope.$apply(function() {
                                  staticHierarchies.splice(shix, 0, update.staticHierarchies[j]);
                              //});
                  }
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }
      $scope.$digest();
	  
	        //Assume both ordered by AdjustedOrder
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              while (deleteRows.indexOf(staticHierarchies[shix].id) > -1) {
                  staticHierarchies.splice(shix, 1);
              }

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if (staticHierarchies[shix].id == update.staticHierarchy.id) {
                  staticHierarchies[shix] = update.staticHierarchy;
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }

      for (var s = 0; s < staticHierarchies.length; s++) {
          var mtmw = update.parentMTMWChanges[staticHierarchies[s].id];
          if (typeof mtmw != 'undefined') {
              for(var t = 0; t < timeSlices.length; t++){
                  var ts = mtmw[timeSlices[t].Id];
                  if(typeof ts != 'undefined'){
                      staticHierarchies[s].cells[t].MTMWValidationFlag = ts
                  }
              }
          }
      }
  }
  
  function insertUnStitchData(staticHierarchies, timeSlices, unstitchRow, update, $scope) {
      //Assume both ordered by AdjustedOrder
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if(staticHierarchies[shix].id == unstitchRow){
                  staticHierarchies.splice(shix, 1);

                  for(var j = update.staticHierarchies.length-1; j >= 0; j--) {
                      //$scope.$apply(function() {
                                  staticHierarchies.splice(shix, 0, update.staticHierarchies[j]);
                              //});
                  }
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }
      $scope.$digest();
  }

  function insertStitchData(staticHierarchies, timeSlices, update, deleteRows, $scope) {
      //Assume both ordered by AdjustedOrder
      var shix = 0;
      for (var i = 0; i < update.staticHierarchyAdjustedOrders.length; i++) {
          while (staticHierarchies[shix].id != update.staticHierarchyAdjustedOrders[i].staticHierarchyID) {
              shix++;

              while (deleteRows.indexOf(staticHierarchies[shix].id) > -1) {
                  staticHierarchies.splice(shix, 1);
              }

              if (shix >= staticHierarchies.length) {
                  return;
              }

              if (staticHierarchies[shix].id == update.staticHierarchy.id) {
                  staticHierarchies[shix] = update.staticHierarchy;
              }
          }
          staticHierarchies[shix].adjustedOrder = update.staticHierarchyAdjustedOrders[i].newAdjustedOrder;

      }

      for (var s = 0; s < staticHierarchies.length; s++) {
          var mtmw = update.parentMTMWChanges[staticHierarchies[s].id];
          if (typeof mtmw != 'undefined') {
              for(var t = 0; t < timeSlices.length; t++){
                  var ts = mtmw[timeSlices[t].Id];
                  if(typeof ts != 'undefined'){
                      staticHierarchies[s].cells[t].MTMWValidationFlag = ts
                  }
              }
          }
      }
  }
</script>

</body>
</html>