<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="FFDAM" connectionString="Application Name=SharesServices;Data Source=ffdamsql-staging.prod.factset.com;Initial Catalog=ffdam;User ID=svc_ff_StandardizedCol;Password=Cn008hV8rI" providerName="System.Data.SqlClient"  />
		<add name="FFDocumentHistory" connectionString="Application Name=SharesServices;Data Source=FFDochistsql-staging.prod.factset.com;Initial Catalog=FFDocumentHistory;User ID=svc_ff_StandardizedCol;Password=Cn008hV8rI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"  />
        <add name="FFDocumentHistoryReadOnly" connectionString="Application Name=DataRoost;Data Source=FFDochistsql-staging.prod.factset.com;Initial Catalog=FFDocumentHistory;User ID=svc_ff_StandardizedCol;Password=Cn008hV8rI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"  />
		<add name="Voyager" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = ffvdbb03.prod.factset.com)(PORT = 1521)))(CONNECT_DATA = (SID = VOYSTAGE)));User Id=VOY_ENG;Password=JOB_CONNECT;"  />
		<add name="Lion" connectionString="Application Name=SharesServices;Data Source=lionsql-prod.prod.factset.com;Failover Partner=lionsql-failover.prod.factset.com;Initial Catalog=lion;User=svc-fundamentals;Password=pTErzEHMTWrCItbu2Bzr;" providerName="System.Data.SqlClient"  />
		<add name="KPI-Diff" connectionString="Application Name=DataRoost-Diff;Password=efGiaehk;Data Source=winsql10devb01;User ID=svc-VersionsDiff;Initial Catalog=kpi2_raw;multisubnetfailover=True; applicationintent=readwrite;" providerName="System.Data.SqlClient" />
		<add name="SFAR-Diff" connectionString="Application Name=DataRoost-Diff;Password=efGiaehk;Persist Security Info=True;User ID=svc-VersionsDiff;Data Source=tcp:FFCoreSql-stage.prod.factset.com;Initial Catalog=SFAR;Connect Timeout=60;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-DataRoostAPI-20151004175540;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-DataRoostAPI-20151004175540.mdf" />
		<add name="FFKPI" connectionString="Application Name=DataRoost;Data Source=tcp:ffsqldev.prod.factset.com;Initial Catalog=ffkpi;Connect Timeout=180;User=svc-TimeSlice;Password=Timeslice@4321;multisubnetfailover=True; applicationintent=readwrite;" providerName="System.Data.SqlClient" />
		<add name="FFSegments" connectionString="Application Name=DataRoost;Data Source=tcp:ffsqldev.prod.factset.com;Initial Catalog=FFSegments;User=FFSegmentsServices;Password=ffsegmentswriters;Asynchronous Processing=true;multisubnetfailover=yes; applicationintent=readwrite;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- ExpressionStore.Nuget -->
		<add key="ElasticEndpointA" value="NodeUri=es-ffexpstg-vip.prod.factset.com:9242;Username=es-ffexp-stage_writer;Password=ceYKDb1g94CL2DFe7mdA4Q==" />
		<add key="ElasticEndpointB" value="NodeUri=superfasta01:9200;Username=guest;Password=guest" />
		<add key="PrimaryEndpoint" value="A" />
		<add key="ExpDbStoreConnKey" value="FFDocumentHistory" />
		<add key="ElasticProductionEndpoint" value="NodeUri=es-ffexp-va-vip.prod.factset.com:9242;Username=ffexp_reader;Password=Vee4vee2" />
    <add key="ExpressionStore" value="https://fce-supercore-expressionstore-preprod.factset.io" />
		<!-- DocPost -->
		<add key="docpost_host" value="docproxy-ftp.prod.factset.com" />
		<add key="docpost_port" value="21" />
		<add key="docpost_domain" value="PROD" />
		<add key="docpost_user" value="ftp-ffdam" />
		<add key="docpost_pass" value="raphANa4" />
		<add key="docpost_root" value="Staging" />
		<add key="docpost_prodroot" value="/home/fundamentals/src_docs/" />
		<!-- DocProxy -->
		<add key="docproxy_proto" value="http" />
		<add key="docproxy_host" value="ffdocproxy-webstagea02.prod.factset.com" />
		<add key="docproxy_port" value="80" />
		<add key="docproxy_path" value="/DocProxy/Fetch/" />
		<add key="docproxy_timeout" value="180000" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SetIncomeOrientationURL" value="https://setincomeorientation-staging.factset.io/final/" />
		<add key="ARDValidationURL" value="https://data-wellness-orchestrator-staging.factset.io/Check/Full/" />
    <!-- LoggingStore. -->
    <add key="LoggingStore" value="http://esgen01deva05:9245" />
    <add key="LoggingStoreId" value="es-ffqr-stage_writer" />
    <add key="LoggingStorePassword" value="tue2NbMwpjHyo7oCTSQcqw==" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Windows" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<authentication>
			</authentication>
		</security>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
		<targets>
			<target name="logfile" type="File" fileName="${basedir}/logs/log.txt" archiveFileName="${basedir}/logs/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="MM-dd-yyyy" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" layout="${longdate}|${level}|${threadid}|${logger}|${message} ${exception:format=tostring}">
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
		</rules>
	</nlog>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
